@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700|Nanum+Pen+Script|Space+Mono|VT323|Passion+One&display=swap');

$blue :  #174ffc;
$orange : #fe9b34;
$darkblue: #1e1d28;
$black: #1e1e28;

@media screen and (max-width: 813px) {
    .testimonial-quote {
      p {
        &::before {
          top: -100px;
          left: -35px;
          font-size: 100px;
        }
        &::after {
          bottom: -75px;
          right: -35px;
          position: relative;
        }
      }
    }
    .about-section {
      height: 800px;
    }
  }