@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700|Nanum+Pen+Script|Space+Mono|VT323|Passion+One&display=swap');

$blue :  #174ffc;
$orange : #fe9b34;
$font-size-h1: 60px;
$black: #1e1e28;