@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700|Nanum+Pen+Script|Space+Mono|VT323|Passion+One|Material+Icons&display=swap');

$blue :  #174ffc;
$orange : #fe9b34;
$darkblue: #1e1d28;
$black: #1e1e28;

// Mobile Devices (s)
@media screen and (max-width: 600px) {
  .testimonials .control-right{
    right:5px!important;
  }
  .testimonials .control-left{
    left:5px!important;
  }
}
// Tablet Devices (m)
@media screen and (min-width: 600px) and (max-width:992px) {
     
}
// m and down Devices
@media screen and (max-width:992px){
  body{
    margin-bottom: 850px;
  }
  .about-section {
    padding: 50px 0;
}
  .projects .card {
    margin: 10px 0px;
  }
  .landing .project-tags {
    margin: -40px 0 10px 0;
    width: 100%;
  }

  .browser-frame-wrapper {
    position: relative;
    margin: 50px 0;

    .browser-frame:nth-child(2) {
      max-width: 100%;
      top: 290px;
      left: 10%;
      max-width: 550px;
    }
    .browser-frame:nth-child(3) {
      max-width: 100%;
      margin: 250px 15px 0 15px;
    }
  }
  .skillset-image{
    padding-top: 20px!important;
  }
  hr {
    margin: 100px auto;
  }
  .scroll-indicator{
    display:none;
  }
}
// Desktop (l)
@media screen and (min-width: 992px) and (max-width:1200px) {
   

}
// Large Desktop (xl)
@media screen and (min-width: 1200px) {
  .hide-on-medium-down{
    display:block;
  }
}

// SPECIAL CASES 
@media screen and (max-width:1420px){
  .animated-selector{
    display:none;
  }
}