@import './variables';

.about-section{
    background: $darkblue;
    position: relative;
}
.scroll-indicator{
    color: #fff;
    font-size: 35px;
    position: absolute;
    bottom: 0;
    left: 50%;
    animation: upanddown 1s infinite alternate;
}
  
.social {
    display: flex;
    padding-top: 18px;

    img {
        margin-right: 15px;
        width: 30px;

        path {fill: #fff;}
    }

    &-contact{
        display: flex;
        justify-content: space-between;
    }
    
}

.profile-picture{
    width: 420px;
    padding: 50px 0;

    img {
        width: 100%;
        padding: 15px;
        height: 100%;
    }
}

.about-section .summary{
    font-size: 16px;
    text-transform: lowercase;
	color: #FFFFFF;
}

@keyframes upanddown{
    0%{
        bottom: 0;
    }
    100%{
        bottom: 10px;
    }
}