@import './variables';

body{
    margin:0;
    font-family: 'Nanum Gothic';
    font-size: 20px;
    margin-bottom:600px;
    color: $black;
}

.DraftEditor-editorContainer {
    border: 2px solid $blue;
    margin: 10px 0;
}
.landing .project{
    
    &-content {
         text-align:justify;
    }
    &-tags {
        float: right;
        margin-top: 58px;

        span {
            margin-top:20px;
            padding: 2px 0 0 15px;
            color: darken($orange, 10%);
        }
    }
    &-body {
        p{font-size: 1.2em;}
        max-width: 850px;
    }
    &-body p:last-child {
        float: right;
    }
    
    &-title {
        display: inline-block;
        h1{
            margin: 30px 0 30px 0;
            text-align: left;
        }
    }

    &-delete-button{
        position: absolute;
        right: 5px;
        top: 5px;
        padding-left: 4.5px;
        color: #fff;
        background-color: red;
        font-size: .5em;
        border: 1px solid red;
        border-radius: 50%;
        width: 17px;
        height: 17px;
    }
    
}
.projects .card {
    margin: 0 10px;
    background-color: $orange;
    color: #fff;
    .card-content{
        font-size: 2rem;
        font-variant: small-caps;
        letter-spacing: 1.1px;
        font-family: Passion One;

    }
    &.selected {
        background-color: darken($orange, 15%);
    }
}

.flex {
    display: flex;
    flex-wrap: wrap;
  }

.animated-loader{
    width: 80%;
    animation-duration: 1s;
    animation-name: changeBgColorLoader;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    .card-panel
    &:nth-child(1) .animated-loader{
        width: 50%;
    }
    &:nth-child(2) .animated-loader{
        width: 90%;
    }
}
@keyframes changeBgColorLoader {
    from {
        background-color: #ecebeb;
    }
  
    to {
        background-color: #bdbcbc;
    }
  }


  
/* Browserframe  */
.browser-frame-wrapper {
    position: relative;
    margin: 50px -70px;

    .browser-frame {
        border-radius: 10px;
        overflow: hidden;
        max-width: 750px;
        background: #fff;

        &:nth-child(2) {
            position: absolute;
            top: 290px;
            right: 0;
            max-width: 550px;
            float: right;
        }
        &:nth-child(2) .browser-controls {
            height: 40px;
        }
        &:nth-child(3) {
            margin-top: 80px;
            max-width: 800px;
            margin: 96px auto 0 auto;
        }

        img {
            max-width: 100%;
        }
        .browser-controls {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background: #E6ECEF;
            color: #BEC4C6;
        }
          
        .window-controls {
            flex: 0 0 60px;
            margin: 0 2%;

            span {
                display: inline-block;
                width: 15px;
                height: 15px;
                border-radius: 50px;
                background: #FF8585;
            
                &.minimise {
                    background: #FFD071;
                }
                &.maximise {
                    background: #74ED94;
                }
            }     
        }

        .url-bar {
            flex-grow: 1;
            margin-right: 2%;
            padding: 5px 5px 0 10px;
            font-family: monospace;
            color: #889396;
            overflow: hidden;
        }
          
        .white-container {
            height: 25px;
            border-radius: 3px;
            font-size: 11px;
            background: white;
        }

        
          
      }
      
}

/* Handle */
::-webkit-scrollbar {
    width: 5px;

    &-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(209, 209, 209, 0.8);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
        box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
}



@media screen and (max-width:600px){
    body{
        margin-bottom:850px;
    }
    .footer{
        //height: 850px!important;
    }
}

