@import './variables';

.footer{
    width: 100%;
	//height: 500px;
	position: fixed;
	bottom: 0;
	z-index: -1;
    background-color: $darkblue;
    
    .social-text{
        font-size: 1.2em;
    }
    h1{
        margin: 0;
        padding : 15px 0;
    }

    h3{
        color: $orange;
        font-size: 2em;
        font-family: Passion One;
    }

    input, textarea{
        color:#fff;
    }

    > .container > .row {
        padding-top: 300px;
    }
}

.input-field label {
    color: #fff;
    font-weight: bold;
}

 .input-field .prefix {
    position: absolute;
    color: #fff;
    font-size: 2rem;
    -webkit-transition: color .2s;
    transition: color .2s;
}
.social {
    &-icon img{
        height: 65px;
        float: right;
    }
    &-text {
        color: #fff;
        font-family: vt323;
        text-align: left;
        font-size: 22px;
        line-height: 65px;
    }
    &-links{
        padding-top: 50px;
    }

}

