@import './_variables.scss';

.landing {
    background-color: #fff;
    h1 {
      font-family: vt323;
      font-size: 3em;
      color: $blue;
      margin: 50px 0;
    }
  }
  
  .summary-text {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 4em;
  }
  
  .summary-subtext {
    font-family: 'VT323', monospace;
    font-size: 2em;
    color: $blue;
  }
  
  .testimonials {
    blockquote {
      border-left: 3px solid $orange;
    }
  }
  
  .testimonial-quote {
    color: #1e1e28;
    font-size: 1.1em;
    align-self: center;
    padding: 50px 70px;
    font-style: italic;
    position: relative;
    text-align: center;
    .website-link {
      float: right;
      bottom: 0;
      right: 25px;
    }
    cite{
      bottom:0;
      left: 25px;
    }
    cite, .website-link {
      position: absolute;
      display: inline-block;
      font-family: Nanum Gothic;
      font-style: italic;
      padding-top: 40px;
      font-size: 16px;
      font-weight: 600;
    }
    p {
      &:before {
        content: "\"";
        position: absolute;
        transform: scaleY(-1) scaleX(-1);
        top: -40px;
        left: 0px;
        color: $blue;
        font-size: 140px;
        font-style: normal;
        font-family: Passion One;
      }
      &:after {
        content: "\"";
        position: absolute;
        transform: scaleY(1) scaleX(1);
        top: 25px;
        right: 0px;
        color: $blue;
        font-size: 140px;
        font-style: normal;
        font-family: Passion One;
      }
    }
  }
  
  .carousel-item {
    display: flex;
    justify-content: space-around;
    padding: 0 35px;
    opacity: 0.1 !important;
    &.testimonial.active {
      opacity: 1 !important;
    }
    img {
      width: 150px !important;
      position: relative;
      align-self: center;
      bottom: 126px;
      left: 15px;
    }
  }
  
  .carousel {
    .indicator-item {
      background-color: rgba(30, 30, 40, 0.3) !important;
      &.active {
        background-color: #1e1d28 !important;
      }
    }
  }
  
  .testimonials {
    .control-right {
      position: absolute;
      height: 100%;
      font-size: 30px;
      transform: translateY(50%);
      border-radius: 50%;
      color: $blue;
      right: -50px;
      top: 0;
    }
    .control-left {
      position: absolute;
      height: 100%;
      font-size: 30px;
      -webkit-transform: translateY(50%);
      transform: translateY(50%);
      border-radius: 50%;
      color: $blue;
      left: -50px;
    }
  }
  
  cite {
    float: left;
  }
  
  .skillsets {
  
    img {
      width: 65%;
      margin: auto;
    }
    .text {
      font-size: 1.2em;
    }    
  }
  
  .relative {
    position: relative;
  }
  
  .img-right img {
    float: right;
  }
  
  hr {
    border: 0;
    margin: 100px auto;
    width: 50%;
    height: 2px;
    background-image: -webkit-linear-gradient(left, #f0f0f000, $orange, #f0f0f0);
  }
  
  .techs {
    span {
      line-height: 50px;
      padding: 20px 15px;
      display: inline-block;
    }
    img {
      width: auto;
      height: 45px;
    }
  }
  
  .skillsets h4 {
    color: $orange;
    font-weight: 600;
    font-family: Space Mono;
    padding-bottom: 20px;
  }
  
 