@import './_variables.scss';

.landing {
    background-color: #fff;
    h1 {
      font-family: vt323;
      font-size: 3em;
      color: $blue;
      margin: 20px 0 100px 0;  
      
     }
  }
  .work-section {
    padding-top: 60px;
    h1:first-child{
      margin-bottom:50px;
    }
    h2{
    color: #314ffc;
    font-family: vt323;
    margin: 100px 0 0px 0;
    font-size: 45px;
    }
    .control-right{
      float:right;
      font-size: 16px;
      span{margin-left: 15px;}
    }
    .control-left{
      float:left;
      font-size: 16px;
      span{margin-right: 15px;}
    }
    .control-right span[data-cursor="hover"], .control-left span[data-cursor="hover"]{
      padding: 7px 12px;
      border: 3px solid $orange;
      border-radius: 50%;
      svg path{
        fill:$orange;
      }
    }
}

  .summary-text {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 4em;
  }
  
  .summary-subtext {
    font-family: 'VT323', monospace;
    font-size: 2em;
    color: $blue;
  }
  
  .skillsets {
    padding-top: 100px;
    img {
      width: 65%;
      margin: auto;
    }
    .skillset-text {
      font-size: 1.2em;
    }    
  }
  
  .relative {
    position: relative;
  }
  
  .img-right img {
    float: right;
  }
  
  hr {
    border: 0;
    margin: 200px auto;
    width: 50%;
    height: 2px;
    background-image: -webkit-linear-gradient(left, #f0f0f000, $orange, #f0f0f0);
  }
  
  .techs {
    span {
      line-height: 50px;
      padding: 20px 15px;
      display: inline-block;
    }
    img {
      width: auto;
      height: 45px;
    }
  }
  
  .skillsets h4 {
    color: $orange;
    font-weight: 600;
    font-family: Space Mono;
    padding-bottom: 20px;
  }
  
.landing .project{
    
  &-details{
      visibility: hidden;
      opacity: 0;
      height: 0;
      
      transition: visibility 0s 1s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
      &.selected{
          height: auto;
          transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
          visibility: visible;
          opacity: 1;
        
          
      }
  }
 
  &-title h1{
    text-align: left;
  }
  &-content {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
  }
  &-tags {
    text-align: right;
    flex-grow: 1;
      span {
          margin-top:20px;
          padding: 2px 0 0 15px;
          color: darken($orange, 10%);
      }
  }
  &-body {
      p{
          font-size: 1.2em;
          &:last-child{
              float: right;
          }
      }

      iframe{
          margin-top: 50px;
      }
  }
 
  
 

  &-delete-button{
      position: absolute;
      right: 5px;
      top: 5px;
      padding-left: 4.5px;
      color: #fff;
      background-color: red;
      font-size: .5em;
      border: 1px solid red;
      border-radius: 50%;
      width: 17px;
      height: 17px;
  }
 

  &-website-link {
      border: 3px solid #314ffc;
      padding: 5px 5px 10px 5px;
      border-radius: 10px;
      float: right;
      margin: 30px 0;

      a{color: #314ffc;}

      .external-link-icon{ 
          width: 30px;
          position: relative;
          top: 7px;
          margin-left: 10px;
      }
    
  }
  
}

.project-column{
  flex-grow: 1;
  margin: 10px;
  &:last-child{
    padding-right: 0;
  }
  &:first-child{
    padding-left: 0;
  }
}
.project-switch-button_container{
  justify-content: space-between;
  display: flex;
  padding-bottom: 100px;
  > span{
    background: linear-gradient(to right, rgba(255,255,255,0) 50%, $orange 50%);
    background-size: 200%;
    background-position: 0 0;
    display: inline;
    transition: .5s ease-in-out;
    
  }
  .control-left:hover, .control-right:hover{
      background-position: -100% 0;
      color: #fff;
  }
  
}
.projects{
  justify-content: space-between;
  .card {
    background-color: $orange;
    color: #fff;
    &.selected{
      background-color: darken($orange,15%);
    }
    .card-content{
        font-size: 2rem;
        font-variant: small-caps;
        letter-spacing: 1.1px;
        font-family: Passion One;
        z-index: 2;
        position: relative;
      }
    }
}


