.work-section .content {
    margin-top: 55px;
}
.work-section{
    position: relative;
    padding-top: 100px;
}
.work-section h2{
    color: #000;
    font-family: vt323;
    margin-left: 21px;
    font-size: 45px;
}
.work-section .title{
    margin-top: 25px 0;
}
.projects{
    margin: 40px auto;
}