.about-section .container, .about-section .container .row.flex{
    height:100%;
    padding:70px 0;
}
.social-contact{
    display: flex;
    justify-content: space-between;
}
.social  img {
    margin-right: 15px;
    width: 30px;
}
.social img path {fill: #fff;}
.social {
    display: flex;
    padding-top: 18px;
}
.profile-picture img {
    width: 100%;
    padding: 15px;
    height: 100%;
}
.profile-picture{
	width: 125px;
	height: 125px;
	border-radius: 50%;
    border: 2px solid white;
}

.about-section .summary{
    font-size: 16px;
    text-transform: lowercase;
	color: #FFFFFF;
}
