@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans+Condensed:300i,400|Monoton');
body{
    margin:0;
    font-family: 'IBM Plex Mono', monospace;
};
.DraftEditor-editorContainer {
    border: 2px solid #bcb4b4;
    margin: 10px 0;
}