#cursor {
    position: absolute;
    -webkit-animation: pulse 1s infinite alternate; 
    animation: pulse 1s infinite alternate;
    border: 1px solid #000;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-top: 0em;
    margin-left: 0em;
    transition: all .5s ease-out;
}
#cursor.expend{
    border-radius: 0%;
    border-width: 3px;
}
#cursor.cursor-enabled {
    border:none;
}
#cursor.cursor-enabled::after {
    content: "click";
    font-weight: bold;
    opacity: .8;
    left: -15px;
    position: absolute;
    animation: pulse .8s infinite alternate;
    border:none;
}

@keyframes pulse{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(.9);
    }
}
@keyframes pulseLittle{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(.8);
    }
}
