.landing{
    width: 100%;
    cursor: pointer;
}
.landing h1{
    font-family: vt323;
    font-size: 60px;
    color: #174ffc;
    margin: 15px 0;
}
.landing > .row{
    margin-bottom: 0;
}
.summary-text {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 60px;
}
.summary-subtext{
    font-family: 'VT323', monospace;
    font-size: 22px;
    color: #174ffc;
}
.white-ball{
	width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 8px;
    left: 50%;
}
