.landing{
    width: 100%;
    height: 100vh;
}
.landing h1{
    font-family: monoton;
    font-size: 102px;
    color: #1c1b1b;
}
.landing > .row{
    margin-bottom: 0;
}
.about-section{
    height: 40%;
    background-color: chartreuse;
}
.work-section{
    height: 60%;
    background-color: #fff;
}
.about-section .summary{
    font-size: 26px;
    text-transform: lowercase;
    color: #FFFFFF;
}