<p>This website is a simple blog powered by Grav CMS. My work was on the customization of the template and integration.
</p>
<p>Grav is a flatfile CMS that I discovered in 2017. The learning curve is quite soft and allow to customize the
     back-end only with config file. Flatfile means that there is no database and all the datas are stored in Markdown
     in files </p>
<div class="browser-frame-wrapper">
     <div class="browser-frame z-depth-3">
          <div class="browser-controls">
               <div class="window-controls"> <span class="close"></span> <span class="minimise"></span> <span
                         class="maximise"></span> </div> <span class="url-bar white-container"> abgefatz.de </span>
          </div> <img src="/images/abgefatzt-home.png" alt="undefined">
     </div>
     <div class="browser-frame z-depth-3">
          <div class="browser-controls">
               <div class="window-controls"> <span class="close"></span> <span class="minimise"></span> <span
                         class="maximise"></span> </div> <span class="url-bar white-container"> abgefatz.de/blog </span>
          </div> <img src="/images/abgefatzt-article.png" alt="undefined">
     </div>
     <div class="browser-frame z-depth-3">
          <div class="browser-controls">
               <div class="window-controls"> <span class="close"></span> <span class="minimise"></span> <span
                         class="maximise"></span> </div> <span class="url-bar white-container"> abgefatz.de/admin
               </span>
          </div> <img src="/images/abgefatzt-dashboard.png" alt="undefined">
     </div>
</div>
<p>I was looking for some project to build and he was looking for a blog. Pretty happy to see around 50 people reading monthly <br> <span data-cursor="hover"
          class="project-website-link"> <a data-cursor="hover" href="http://abgefatzt.de/" target="_blank">check this website out</a> <img
               src="/images/icons/external-link-alt-solid.svg" class="external-link-icon"> </span></p>