    <p>The client is a profesionnal photgrapher and mountain guide. She needed a showcase website to show her photography
        work and her mountain activities. I did build the theme from scratch and integrated to the CMS. </p>
    <p> I used Grav, which is a flatfile CMS that I discovered in 2017. </p>
    <div class="browser-frame-wrapper">
        <div class="browser-frame z-depth-3">
            <div class="browser-controls">
                <div class="window-controls"> <span class="close"></span> <span class="minimise"></span> <span
                        class="maximise"></span> </div> <span class="url-bar white-container"> fannyzambaz.ch </span>
            </div> <img src="images/fannyzambaz-home.png" alt="undefined">
        </div>
        <div class="browser-frame z-depth-3">
            <div class="browser-controls">
                <div class="window-controls"> <span class="close"></span> <span class="minimise"></span> <span
                        class="maximise"></span> </div> <span class="url-bar white-container"> fannyzambaz.ch/home/photographie/nature </span>
            </div> <img src="images/fannyzambaz-gallerie.png" alt="undefined">
        </div>
        <div class="browser-frame z-depth-3">
            <div class="browser-controls">
                <div class="window-controls"> <span class="close"></span> <span class="minimise"></span> <span
                        class="maximise"></span> </div> <span class="url-bar white-container"> fannyzambaz.ch/admin </span>
            </div> <img src="images/fannyzambaz-dashboard.png" alt="undefined">
        </div>
    </div>
    <p>The client drew a mockup of the desired look of the website, she provided me fonts and the colours that she
        wanted. Pretty simple design to implement which allowed me to build this website quickly and at a low price<br> 
        <span
            class="project-website-link">
            <a data-cursor="hover" target="_blank" href="http://fannyzambaz.ch">check this website out</a>
            <img data-cursor="hover" src="/images/icons/external-link-alt-solid.svg" class="external-link-icon">        
        </span></p>
