
    <p>    The school taught me how to code but we don't get taught how to design, neither how to make a beautiful website. I always got interested in web design and I'm pretty happy with the results even though I don't think It's perfect.
            As a side project, I got assigned to redesign their website. 
                    As a web agency, I think that you have to show off your web skills, to impress your future customers. If someone has to be a web expert, it's gonna be an agency.
        </p>
<div class="browser-frame-wrapper">
    <div class="browser-frame z-depth-3">
        <div class="browser-controls">
            <div class="window-controls"> <span class="close"></span> <span class="minimise"></span> <span
                    class="maximise"></span> </div> <span class="url-bar white-container"> localhost </span>
        </div> <img src="/images/sutrix-home.png" alt="sutrix-mockup">
    </div>
    <div class="browser-frame z-depth-3">
        <div class="browser-controls">
            <div class="window-controls"> <span class="close"></span> <span class="minimise"></span> <span
                    class="maximise"></span> </div> <span class="url-bar white-container"> localhost </span>
        </div> <img src="/images/sutrix-menu.png"  alt="sutrix-mockup">
    </div>
    <div class="browser-frame z-depth-3">
        <div class="browser-controls">
            <div class="window-controls"> <span class="close"></span> <span class="minimise"></span> <span
                    class="maximise"></span> </div> <span class="url-bar white-container"> localhost </span>
        </div> <img style="width:-webkit-fill-available" src="/images/sutrix-expertise.png" alt="sutrix-mockup" >
    </div>
</div>
<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">card_travel</i>How I ended up working in Vietnam</div>
        <div class="collapsible-body"><span>When I was traveling, I wanted to get a job at some point to <b>travel longer</b>, my finance didn't allow me to stay abroad as long as I wanted.<br> 
                When I was in Vietnam I found a website with a massive amount of IT jobs offers and saw all the <b>opportunities</b> to work there, then started to apply. As a westerner that had experiences, was confident in English and French,
                it was pretty easy to get offers. After a few weeks, I got <b>three offers on the table</b>, two as a developer and one with a higher paycheck as an Account Manager at Sutrix Solutions, a French outsourcing company.
                Was not on my plan at all to work at this kind of position, I had the languages and the technical knowledge that was required and decided to <b>try it out</b>! Who knows it could be a lifetime opportunity !</span>
            </div>
    </li>  
    </ul>
        
<span data-cursor="hover"
class="project-website-link"> <a data-cursor="hover" href="https://www.figma.com/file/UxQ3RgtlHwVRs8uY5wouVu7v?node-id=0:1" target="_blank">view full mockup on Figma</a> <img
     src="/images/icons/external-link-alt-solid.svg" class="external-link-icon"> </span></p>
