@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700|Nanum+Pen+Script|Space+Mono|VT323|Passion+One|Material+Icons&display=swap');

$blue :  #174ffc;
$orange : #fe9b34;
$darkblue: #1e1d28;
$black: #1e1e28;