@import './variables';
$pattern1 : #5557d4;
$pattern2:#163256;

.about-section{
    filter: drop-shadow( 0px -2px 11px #7b7b7b);
    &--clip{
        background-color: $darkblue;
        position: relative;
        clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
        padding: 7rem 0;

        > div:first-child {
            position: relative;
            z-index: 2;
        }

        .about-pattern{
            width: 100%;
            height: 100%;
            top: 0;
            position: absolute;
            opacity: 0.05;
            z-index: 0;
        
            //pyramids
            // background: linear-gradient(315deg, transparent 75%, $pattern1 0)-10px 0,
            // linear-gradient(45deg, transparent 75%, $pattern1 0)-10px 0,
            // linear-gradient(135deg, #332ba7 50%, transparent 0) 0 0,
            // linear-gradient(45deg, #1b376a 50%, $pattern2 0) 0 0 $pattern2;
            // background-size: 20px 20px;
        
            //Jpn waves
            background-color:silver;
            background-image:
            radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
            radial-gradient(circle at 0    150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
            radial-gradient(circle at 50%  100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent),
            radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent),
            radial-gradient(circle at 0    50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
            background-size: 100px 50px;
        }
    }
   
    
}

  
.social {
    display: flex;
    padding-top: 18px;

    img {
        margin-right: 15px;
        width: 30px;

        path {fill: #fff;}
    }

    &-contact{
        display: flex;
        justify-content: space-between;
        .cursor-button {
            margin-top: 17px;
        }
    }
    
}

.profile-picture{
    width: 420px;
    padding: 50px 0;

    img {
        width: 100%;
        padding: 15px;
        height: 100%;
    }
}

.about-section .summary{
    font-size: 16px;
    text-transform: lowercase;
	color: #FFFFFF;
}

