@import './variables';

$slider-width: 100%;
$slider-height: auto;
$slide-width:888px;
// @media screen and (max-width:992px){
//     $slide-width:
// }

.r-slider {
  position: relative;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
  transition: height 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.wrapper {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.r-slides {
    width: 10000px;
    position: relative;
    display: flex;
    touch-action: manipulation;

  &.shifting {
    transition: left .2s ease-out;
  }
}

.control {
  position: absolute;
  top: 120px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50px;
  margin-top: -20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.prev,
.next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.prev {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
  left: -45px;
}

.next {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
  right: -45px;
}

.prev:active,
.next:active {
  transform: scale(.8);
}
button:focus{
    background-color: #fff!important;
}

.selectors li.activ {
  background: $orange;
  border-color: $orange;
}
.selectors {
  display: flex;
  margin: 15px auto;
  width: 60px;
  justify-content: space-around;
}
.selectors li {
  border: 1px solid black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

@media screen and (max-width:645px){
  .control{
    bottom: -70px;
    top:unset;
    &.next{right:0;}
    &.prev{left:0;}
  }
}