@import 'variables';

/* all Of [data-cursor="hover"] attributes are transition states*/
/* INIT states */

#cursor {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    height: 104px;
    width: 104px;
    opacity: 1;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 999;
    transition: transform 1.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-size: 14px;


    .wrapper{
        position: relative;
        width: 52px;
        height: 52px;
        
        & > span{

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
/* onClick action */
.expend{
    transform: scale(.7);
}


#cursor[data-cursor="ring"] .cursor-ring::after, 
#cursor[data-cursor="hover"] .cursor-hover::after{
    /* final state */
    content: "";
    opacity: 1;
    transform: scale(1);
}
#cursor[data-cursor^="action"] .cursor-action::after{
    /* final state */
    opacity: 1;
    transform: scale(1);
    font-size: 1.2em;
    text-align: center;
    padding-top: 25%;
}

#cursor .cursor-ring::after{
    /* init state  */
    content: "";
    border: 2px solid $blue;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display:block;
    opacity: 0;    
    transform: scale(0.3);
    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);

}

#cursor .cursor-hover::after{
    /* init state  */
    content: "";
    background-color: $blue;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display:block;
    opacity: 0;    
}
#cursor .cursor-hover{
    transform: scale(0);
    transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#cursor[data-cursor="hover"] .cursor-hover{
    transform: scale(.4);
}

#cursor .cursor-action::after{
    /* init state  */
    content: "";
    background-color: $blue;
    color: #fff;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display:block;
    opacity: 0;    
}
#cursor .cursor-action{
    transform: scale(0);
    transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#cursor[data-cursor^="action"] .cursor-action{
    /* active state */
    transform: scale(.8);
}
.cursor-action > span{
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 9px;
    color:#fff; /* Action text color */
}

@keyframes pulse{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(.9);
    }
}
@keyframes pulseLittle{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(.8);
    }
}