@import './_variables.scss';

// Mobile Devices (s)
@media screen and (max-width: 600px) {
  .testimonials{
      .website-link{
        display:none!important;
      }
    
  }
  .control-right{
    right:5px!important;
  }
  .control-left{
    left:5px!important;
  }

    #root{
      overflow:hidden;
    }
    body{
        margin-bottom:850px;
    }
    .hide-on-small-down{
        display: none;
    }
    .project-switch-button_container > span {
          background: unset!important;
    }
    .skillsets div[skill]:nth-child(odd) img,
    .skillsets div[skill]:nth-child(even) img {
      margin:auto!important;
    }
    .cursor-button {
      .inner-text{
        font-size: .7em;
      }
      padding: 4px 10px;
    }
    .profile-picture{
      display: none;
    }
    .summary-text{
      font-size: 4em;
    }
    .summary-subtext{
      font-size: 2em;
    }
    .footer h3{
      text-align: center;
    }
  }
  // Tablet Devices (m)
  @media screen and (min-width: 600px) and (max-width:992px) {
    .skillsets div[skill]:nth-child(odd) img {
      margin-right: 0;
      margin-left: auto!important;
    }
  }
  // m and down Devices
  @media screen and (max-width:992px){
    body{
      margin-bottom: 0!important;
    }
    .footer{
        position: inherit!important;
        > .container > .row{
            padding-top: 55px!important;
        }

    } 
    .testimonial-quote{
      width:100%!important;
    }

    .projects .card {
      margin: 10px 0px;
    }
        
    .browser-frame-wrapper {
      position: relative;
      margin: 50px 0!important;
  
      .browser-frame:nth-child(2) {
        max-width: 100%;
        top: 230px;
        left: 10%;
        max-width: 550px;
      }
      .browser-frame:nth-child(3) {
        max-width: 100%;
        margin: 220px 15px 0 15px!important;
      }
    }
    .skillset-image{
      padding-top: 20px!important;
    }
    hr {
      margin: 100px auto;
    }
    .scroll-indicator{
      display:none;
    }
    .landing h1{
      margin: 50px 0;
    }
  }
  // Desktop (l)
  @media screen and (min-width: 992px) and (max-width:1200px) {
     
  
  }
  // Large Desktop (xl)
  @media screen and (min-width: 1200px) {
    .hide-on-medium-down{
      display:block;
    }
  }
  
  // SPECIAL CASES 
  @media screen and (max-width:1420px){
    .animated-selector{
      display:none;
    }

    .project-tags{
      text-align: left!important;
    }
  }

@media screen and (max-width:765px){
  .project-column:nth-child(even) {
    margin: 0;
  }
  .project-details .slider{
    .control-left,.control-right{
      top: 75%;
    }
  }
  .testimonials .slider{
    .control-left, .control-right{
      bottom: 10%;
    }
  }
  
}
@media screen and (max-width: 430px){
  .social-contact{
   flex-direction: column;
    > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  }   
}

@media screen and (min-width:600px) and (max-width:830px){
  .about-section{
    &--clip {
    padding: 0 0 6rem 0!important;
      > div > .flex{
        flex-direction: row-reverse;
      }
    }
    .summary-text{
      font-size: 3em;
    }
    .summary-subtext{
      font-size: 1.6em;
    }
    .social-contact{
      position: absolute;
      width: 100%;
      margin-top: 30px;
    }
  }
}