@import './_variables.scss';
.skillset {
  padding-top: 30px;
}
  .skillsets {
    hr:last-child{
      opacity: 0;
    }
    
    > h1 {
      margin-bottom: 30px;
    }
    padding-top: 100px;
    img {
      width: 65%;
      &.right {
       margin-left: auto; 
      }
    }
    .skillset-text {
      font-size: 1.2em;
    }  

    hr {
        border: 0;
        margin: 80px auto;
        width: 50%;
        height: 2px;
        background-image: -webkit-linear-gradient(left, #f0f0f000, $orange, #f0f0f0);
      }
    
      
  }
  
  .relative {
    position: relative;
  }
  
  .img-right img {
    float: right;
  }
  
  
  .techs {
    span {
      line-height: 50px;
      padding: 20px 15px;
      display: inline-block;
    }
    img {
      width: auto;
      height: 45px;
    }
  }
  
  .skillsets h4 {
    color: $orange;
    font-weight: 600;
    font-family: Space Mono;
    padding-bottom: 20px;
  }