@import './variables';
.testimonial{
   display: flex;
   flex-wrap: wrap;
   overflow: hidden;
   height: 100%;
   &-picture{
        width:22%;
        img{
          max-height: 300px;
        }
   }
   &:focus{
    outline:0;

   }
}

.testimonials {
    padding-top: 100px;

    blockquote {
      border-left: 3px solid $orange;
    }
  }
  
  .testimonial-quote {
    color: #1e1e28;
    font-size: 1.1em;
    align-self: flex-start;
    padding: 10px 30px 60px 30px;
    font-style: italic;
    position: relative;
    width: 77%;

    .website-link {
      float: right;
      bottom: 0;
      right: 25px;
    }
    .testimonial-author{
      bottom:0;
      left: 25px;
      span{
        font-size: 0.8em;
        padding-left: 12px;
        font-weight: 300;
      }
    }
    .testimonial-author, .website-link {
      position: absolute;
      display: inline-block;
      font-family: Nanum Gothic;
      font-style: italic;
      padding-top: 40px;
      font-size: 16px;
      font-weight: 600;
    }
    p {
      &:before {
        content: "\"";
        position: absolute;
        transform: scaleY(-1) scaleX(-1);
        top: -40px;
        left: 0px;
        color: $blue;
        font-size: 140px;
        font-style: normal;
        font-family: Passion One;
      }
      &:after {
        content: "\"";
        position: absolute;
        transform: scaleY(1) scaleX(1);
        top: 25px;
        right: 0px;
        color: $blue;
        font-size: 140px;
        font-style: normal;
        font-family: Passion One;
      }
    }
  }
  

  
//   .carousel-item {
//     display: flex;
//     justify-content: space-around;
//     padding: 0 35px;
//     opacity: 0.1 !important;
//     &.testimonial.active {
//       opacity: 1 !important;
//     }
//     img {
//       width: 150px !important;
//       position: relative;
//       align-self: center;
//       bottom: 126px;
//       left: 15px;
//     }
//   }
  
//   .carousel {
//     .indicator-item {
//       background-color: rgba(30, 30, 40, 0.3) !important;
//       &.active {
//         background-color: #1e1d28 !important;
//       }
//     }
//   }
  
//   @media screen and (max-width:992px){

//     .testimonial{padding-top:0;}
//     .testimonials{
//       .control-right, .control-left{
//         -webkit-transform:translateY(100%); 
//         transform:translateY(100%); 
//       }
   
//     }
//     .testimonial-quote{
//       padding:0 10px 70px 10px ;
//     }

//   }